.AddAnotherButton {
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #187697;
    position: absolute;
    margin: 0 auto;
    left: calc(50% - 200px);
    width: 400px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.AddAnotherButton:hover{
    border-radius: 2px;
    background-color: rgba(24, 118, 151, 0.1);
    border: solid 1px #187697;
}
.AddAnotherButton:active{
    background-color: rgba(24, 118, 151, 0.2);
    border: solid 1px #187697;
}
.AddAnotherButton__icon{
    width: 24px;
    height: 24px;
    background: url('../../../../resources/ic-add-blue.svg') no-repeat;
    background-size: auto;
    background-position: center center;
    margin-right: 10px;
}