.ErrorNotification{
    /* position: absolute; */
    /* left: 100px; */
    /* bottom: 100px; */
    margin-left: 50px;
    margin-right:  auto;
    background-color: #f3d15b;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    transform: translateX(-200%);
}
.ErrorNotification.visible-error-notification{
    animation: showError 3s ease alternate;
}

@keyframes showError {
    20%{
        transform: translateX(0)
      }
      80%{
        transform: translateX(0)
      }
      100%{
        transform: translate(-200%)
      }
}