#root {
  background-color: #f6f6f6;
}

.request-list-container {
  position: fixed;
  width: calc(100% - 256px);
  height: calc(100% - 64px);
  bottom: 0;
  right: 0;

  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-top: 30px;
  /* min-height: 100%; */
  /* width: 100%; */
  /* position: relative; */
  /* margin-top: 64px; */
  overflow-y: auto;
}
.request-list-container.survey {
  background-color: #fff;
}
.request-pre-container {
  display: flex;
}
