.Free_text_input {
    
}
.Free_text_input-header{
    font-family: 'NunitoSans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-bottom: 20px;
    background-color: bisque;
}
.SurveyForm .survey-input-conteiner{
    min-height: 130px;
}
.SurveyForm .survey-input-conteiner textarea{
    cursor: pointer;
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    
    color: rgba(0, 0, 0, 0.87);
    margin-top: 5px;
}

.Free_text_input-counter {
    margin: 5px 0 0 10px;
   color: #187697;
}
.Free_text_input-counter.hiddenCounter{
    visibility: hidden;
}
.Free_text_input-counter.visibleCounter {
    visibility: visible;
}


.Free_text_input-error-container--hidden {
    visibility: hidden;
}


.SurveyForm-container .Free_text_input-error-container {
    visibility: hidden;
    font-family: 'Nunito', serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #b00020;
    margin-left: 10px;
}

.SurveyForm-container.show-error-message .Free_text_input-error-container{
    visibility: visible;
    font-family: 'Nunito', serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #b00020;
    margin-left: 10px;
}
.SurveyForm-container.show-error-message .Free_text_input-error-container.error-message--hidden{
    visibility: hidden;
    font-family: 'Nunito', serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #b00020;
    margin-left: 10px;
} 