@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  
    .avatar-IE-wrapper {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      overflow: hidden;
    }
    .avatar img.profile-picture{
      width: 100%;
      height: auto;
    }
  
    .settings-avatar{
      overflow: hidden;
      border-radius: 50%;
    }
    .settings-avatar img{
      width: 100% !important;
      height: auto !important;
    }
  
    .settings-user-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .search-input{
      /* background-color: pink; */
    }
    .filter-by-content{
      /* background-color: yellow; */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .filter-by-content input{
      margin-top: 20px !important;
    }
  
  
    .navi-centered-items{
      position: relative;
    }
    .request-pre-container--create-new-main-wrapper .navi-navbar-default{
      width: calc(100% - 256px) !important;
    }
  
    .FormContainer input{
      font-size:  16px !important;
      margin-bottom: 0 !important
    }
  
    
    .FullSurveysList {
      display: block !important;
    }
    .FullSurveysList .Card{
      display: block;
      background-color: white;
      /* padding: 20px; */
      height: auto;
      width: 450px;
      margin: 0 auto 30px auto;
      
    }
    .FullSurveysList  .Card__wrapper-helper{
      display: block;
      /* background-color: gray; */
      width: 100%;
      height: auto;
    }
    .FullSurveysList .Card__statistic{
      /* background-color: pink; */
    }
    .FullSurveysList .Card__date{
      /* background-color: yellow; */
    }
    .Card__title{
      word-wrap: break-word;
      /* overflow: hidden; */
      /* background-color: yellow; */
      height: auto;
    }
    .Card__download-buttons{
      padding-top: 20px !important;
    }

    .SurveyForm-container{
        display: block !important;
        /* margin: 0 auto !important */
    }
    .SurveyForm{
        margin: 0 auto;
    }
    .SurveyForm__header{
      word-wrap: break-word;
    }    
    .SurveyForm__description{
      word-wrap: break-word;
    }
    .question{
      word-wrap: break-word;
    }
    
  
  
    .feedback-detail-message{
      word-wrap: break-word;
    }
    .survey-message p {
      word-wrap: break-word;
    }
  
  
    .request-pre-container.request-pre-container--create-new-main-wrapper{
      /* display: block; */
      /* background-color: pink; */
    }
    .request-pre-container.request-pre-container--create-new-part1{
      overflow: auto;
      display: block;
    }
    .request-pre-container.request-pre-container--create-new-part1.create-new--right{
      display: none;
    }
    .request-pre-container.request-pre-container--create-new-part1.create-new--center{
      /* display: block; */
      /* background-color: gray; */
    }
    .CreateNew__footer-wrapper.CreateNew__footer-wrapper--left{
      display: block;
      position: relative;
    }
    .ErrorNotification{
      position: absolute;
      left: 0;
      top: 0;
    }
    .AddAnotherButton{
      margin: 0 auto;
    }
    .Button__create-new-action{
      position: absolute;
      right: 0;
      top: 0;
    }
  
  
    .CreateNew__right-screen-wrapper{
      display: block;
      height: calc(100vh - 114px);
      /* background-color: yellow */
    }
    .SelectUsersForSurvey > div{
      /* height: 700px; */
    }
    .create-request-container.container-fluid{
      /* height: 700px; */
      /* background-color: #35a9db; */
    }
    .new-feedback-component-container{
      display: block;
      /* background-color: pink; */
      /* height: 700px; */
    }
    .CreateNew__right-screen-wrapper .row {
      /* height: 700px; */
      /* background-color: gray; */
    }

    .main-container.typing input::-ms-clear{ 
      display: none;
    }

    
    .react_calendar_handler{
      position: relative;
    }
    .react_calendar_handler--passive{
      color: black !important;
    }
    .react_calendar_handler::after{
      position: absolute;
      top: 10px;
      right: 10px;
    }
  
  }
  
  
  
  
  /*styles for another browsers needed to use with IE*/
  .avatar-IE-wrapper{ 
    object-fit: cover;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: white;
  }