.DetailsContainer-wrapper{
    position: fixed;
    width: calc(100% - 256px);
    height: calc(100% - 64px);
    bottom: 0;
    right: 0;
    padding: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}
.DetailsContainer {
   width: 50%;
}
.DetailsContainer > div {
    margin: 15px 0;
}
.DetailsContainer__title {
   
    font-family: 'NunitoSans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4a4a4a;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.DetailsContainer__description{
    font-family: 'NunitoSans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #707070;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.DetailsContainer__statistic{
    display: flex;
    flex-flow: row nowrap;
    color: #707070;
}

.DetailsContainer__date-container{
    font-size: 16px;
    color: #707070;
}
.DetailsContainer__date-container.open > span {
    color: #06d6a0;
}

.DetailsContainer__date-container.closed > span {
    color: #f4d141;
}
.DetailsContainer__users-container{
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #888888;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.DetailsContainer__users-container .main-container-selectedUser{
    cursor: default;
}
.DetailsContainer__users-container .main-container-selectedUser .close-icon{
    display: none;
}